body {
  position: relative;
}
.drag_target {
  background-color: #1b6d85;
}
#left_pannel,
#right_pannel {
  display: inline-block;
  position: absolute;
  width: 230px;
  top: 105px;
  height: 800px;
  border: 1px solid red;
}
#left_pannel {
  left: 0;
}
#left_pannel #upload_img {
  display: block;
  height: 50px;
  width: 150px;
  margin: 5px auto;
}
#left_pannel #uploaded_imgs_wrapper {
  display: inline-block;
  position: relative;
  height: auto;
  margin-top: 5px;
  border: 1px solid greenyellow;
}
#left_pannel #uploaded_imgs_wrapper .img {
  display: inline-block;
  float: left;
  height: 86px;
  width: 86px;
  background-size: contain;
  margin: 10px;
  z-index: 99;
}
#main_platform {
  display: block;
  position: absolute;
  border: 1px solid green;
  width: 1221px;
  height: 540px;
  top: 105px;
  left: 231px;
}
#main_platform #edit {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
}
#main_platform .page_left,
#main_platform .page_right,
#main_platform .page_single {
  position: absolute;
}
#nav_bar {
  display: block;
  position: absolute;
  border: 1px solid green;
  width: 1221px;
  height: 50px;
  top: 645px;
  left: 231px;
}
#nav_bar #page_nav_bar {
  position: relative;
  display: inline-block;
  width: 250px;
  margin: 10px 50px;
  float: right;
}
#nav_bar .scale_button {
  display: inline-block;
  position: relative;
  height: 100%;
}
