body {
    position: relative;
}

#left_pannel,
#right_pannel {
    display: inline-block;
    position: absolute;
    width: 230px;
    top: 105px;
    height: 800px;
    border: 1px solid red;
}

#left_pannel {
    left: 0;
}

#left_pannel #upload_img {
    display: block;
    height: 50px;
    width: 150px;
    margin: 5px auto;
}

#left_pannel #uploaded_imgs_wrapper {
    display: inline-block;
    position: relative;
    height: auto;
    margin-top: 5px;
    border: 1px solid greenyellow;
}

#left_pannel #uploaded_imgs_wrapper .img {
    display: inline-block;
    float: left;
    height: 86px;
    width: 86px;
    background-size: contain;
    margin: 10px;
}

#main_platform {
    display: block;
    position: absolute;
    border: 1px solid green;
    width: 1221px;
    height: 540px;
    top: 105px;
    left: 231px;
}

#main_platform #edit {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}

#book_editor_all_wrapper .page_left,
#book_editor_all_wrapper .page_right {
    position: absolute;
}
