body {
  background-color: #FEFEFE;
}
.min_width {
  min-width: 1210px;
}
.nav_login {
  width: 100%;
  height: 40px;
  background-color: #1D1817;
  min-width: 1210px;
}
.login_module {
  position: relative;
  float: right;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-right: 100px;
}
.login_module:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.login_module div {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
}
#login {
  height: 20px;
  width: 66px;
  border-right: 1px solid white;
}
#login:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.nav_main {
  height: 40px;
  background-color: #1D1817;
  position: relative;
  height: 150px;
  background-color: #FFFFFF;
  width: 100%;
  min-width: 1210px;
  margin: 0 auto;
}
#register {
  width: 66px;
  border-right: 1px solid white;
  height: 20px;
}
#help {
  height: 20px;
  padding-left: 10px;
}
.nav_module {
  position: relative;
  width: 1210px;
  min-width: 1210px;
  height: 100%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}
#logo {
  display: inline-block;
  width: 300px;
  height: 150px;
  background-image: url(../img/logo.jpg);
}
#main_nav {
  display: inline-block;
  position: absolute;
  left: 250px;
  top: 80px;
  height: 100%;
}
#main_nav ul li {
  display: inline-block;
  margin-left: 80px;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}
#gallery {
  position: relative;
  margin: 0 auto;
  height: 688px;
  width: 100%;
  min-width: 1210px;
  border-top: 1px solid darkgray;
}
#gallery #register_form {
  display: block;
  position: relative;
  height: 580px;
  width: 550px;
  margin: 0 auto;
  margin-top: 100px;
}
#gallery #describe {
  display: block;
  font-size: 28px;
  color: #d62902;
  margin-bottom: 40px;
}
#gallery #mail,
#gallery #nickname,
#gallery #loginpassword,
#gallery #confirmpassword,
#gallery #checkcode {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
}
#gallery #mail:after,
#gallery #nickname:after,
#gallery #loginpassword:after,
#gallery #confirmpassword:after,
#gallery #checkcode:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#gallery #mail #describe_mail,
#gallery #nickname #describe_mail,
#gallery #loginpassword #describe_mail,
#gallery #confirmpassword #describe_mail,
#gallery #checkcode #describe_mail,
#gallery #mail #describe_nickname,
#gallery #nickname #describe_nickname,
#gallery #loginpassword #describe_nickname,
#gallery #confirmpassword #describe_nickname,
#gallery #checkcode #describe_nickname,
#gallery #mail #describe_loginpassword,
#gallery #nickname #describe_loginpassword,
#gallery #loginpassword #describe_loginpassword,
#gallery #confirmpassword #describe_loginpassword,
#gallery #checkcode #describe_loginpassword,
#gallery #mail #describe_confirmpassword,
#gallery #nickname #describe_confirmpassword,
#gallery #loginpassword #describe_confirmpassword,
#gallery #confirmpassword #describe_confirmpassword,
#gallery #checkcode #describe_confirmpassword,
#gallery #mail #describe_checkcode,
#gallery #nickname #describe_checkcode,
#gallery #loginpassword #describe_checkcode,
#gallery #confirmpassword #describe_checkcode,
#gallery #checkcode #describe_checkcode {
  display: inline-block;
  height: 100%;
  float: left;
  font-size: 22px;
  color: #333333;
}
#gallery #mail #describe_mail:before,
#gallery #nickname #describe_mail:before,
#gallery #loginpassword #describe_mail:before,
#gallery #confirmpassword #describe_mail:before,
#gallery #checkcode #describe_mail:before,
#gallery #mail #describe_nickname:before,
#gallery #nickname #describe_nickname:before,
#gallery #loginpassword #describe_nickname:before,
#gallery #confirmpassword #describe_nickname:before,
#gallery #checkcode #describe_nickname:before,
#gallery #mail #describe_loginpassword:before,
#gallery #nickname #describe_loginpassword:before,
#gallery #loginpassword #describe_loginpassword:before,
#gallery #confirmpassword #describe_loginpassword:before,
#gallery #checkcode #describe_loginpassword:before,
#gallery #mail #describe_confirmpassword:before,
#gallery #nickname #describe_confirmpassword:before,
#gallery #loginpassword #describe_confirmpassword:before,
#gallery #confirmpassword #describe_confirmpassword:before,
#gallery #checkcode #describe_confirmpassword:before,
#gallery #mail #describe_checkcode:before,
#gallery #nickname #describe_checkcode:before,
#gallery #loginpassword #describe_checkcode:before,
#gallery #confirmpassword #describe_checkcode:before,
#gallery #checkcode #describe_checkcode:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#gallery #mail #input_mail,
#gallery #nickname #input_mail,
#gallery #loginpassword #input_mail,
#gallery #confirmpassword #input_mail,
#gallery #checkcode #input_mail,
#gallery #mail #input_nickname,
#gallery #nickname #input_nickname,
#gallery #loginpassword #input_nickname,
#gallery #confirmpassword #input_nickname,
#gallery #checkcode #input_nickname,
#gallery #mail #input_loginpassword,
#gallery #nickname #input_loginpassword,
#gallery #loginpassword #input_loginpassword,
#gallery #confirmpassword #input_loginpassword,
#gallery #checkcode #input_loginpassword,
#gallery #mail #input_confirmpassword,
#gallery #nickname #input_confirmpassword,
#gallery #loginpassword #input_confirmpassword,
#gallery #confirmpassword #input_confirmpassword,
#gallery #checkcode #input_confirmpassword {
  display: inline-block;
  float: left;
  height: 46px;
  width: 380px;
  margin-left: 20px;
  font-size: 22px;
  color: #333333;
  border: 1px solid #cccccc;
  text-indent: 1.5em;
}
#gallery #mail #mail_tooltip,
#gallery #nickname #mail_tooltip,
#gallery #loginpassword #mail_tooltip,
#gallery #confirmpassword #mail_tooltip,
#gallery #checkcode #mail_tooltip {
  display: inline-block;
  margin-top: 16px;
  padding-left: 117px;
  float: left;
  font-size: 18px;
  color: #cccccc;
}
#gallery #nickname,
#gallery #loginpassword {
  margin-top: 10px;
}
#gallery #input_checkcode {
  display: inline-block;
  float: left;
  height: 46px;
  margin-left: 40px;
  font-size: 22px;
  color: #333333;
  border: 1px solid #cccccc;
  text-indent: 1.5em;
  width: 190px;
}
#gallery #pic_checkcode {
  display: inline-block;
  float: left;
  height: 46px;
  width: 170px;
  margin-left: 20px;
  border: 1px solid #cccccc;
}
#gallery #submit_info {
  display: block;
  width: 505px;
  height: 70px;
  font-size: 22px;
  letter-spacing: 0.15em;
  color: #ffffff;
  background-color: #d62902;
  margin-top: 30px;
  border-radius: 10px;
}
#gallery #submit_info:hover {
  cursor: pointer;
}
#nickname_tooltip {
  display: inline-block;
  margin-top: 16px;
  width: 100%;
  padding-left: 117px;
  float: left;
  font-size: 18px;
  color: #cccccc;
}
#login_wrapper,
#describe_otherlogin {
  display: block;
  position: relative;
  height: 28px;
  width: 550px;
  margin: 0 auto;
  margin-top: 40px;
}
#login_wrapper span,
#describe_otherlogin span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  color: #333333;
}
#login_wrapper span a,
#describe_otherlogin span a {
  color: #d62902;
}
.wrapper {
  display: block;
  height: 100%;
  width: 550px;
  margin: 0 auto;
}
.wrapper div {
  height: 100%;
  width: 140px;
  float: left;
  font-size: 28px;
  color: #999999;
}
.wrapper #left,
.wrapper #right {
  height: 1px;
  width: 140px;
  background-color: #999999;
  margin-top: 14px;
}
.wrapper #left {
  margin-right: 40px;
}
.wrapper #right {
  margin-left: 40px;
}
#third_wrapper {
  display: block;
  height: 200px;
  width: 550px;
  margin: 0 auto;
}
#third_wrapper #weibo,
#third_wrapper #qq {
  display: inline-block;
  float: left;
  height: 100%;
  width: 275px;
}
#copyright {
  width: 100%;
  height: 40px;
  background-color: #1D1817;
  min-width: 1210px;
  display: block;
  position: relative;
  height: 190px;
  background-color: #FEFEFE;
  border-top: 1px solid #999999;
}
#copyright_content {
  display: block;
  position: relative;
  font-size: 14px;
  margin: 0 auto;
  width: 500px;
  padding-top: 88px;
}
